.qualificatonList ul li{   
    list-style-type: none;
}

.ResumeContact text, h2{
    margin-bottom: 15px;
}

.downloadBtn, .downloadBtn:visited {
    margin-top: -80px;
    margin-left: -80px;
    width: 125px;
    height: 50px;
    border: 0;
    border-radius: 15px;
    background-color: #001517;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    color: hsl(347, 62%, 75%);
    font-weight: bold;
    text-decoration: none !important;
}

.downloadBtn a {
    text-decoration: none !important;
    color: hsl(347, 62%, 80%);
    height:20px;
    width: 50px;
}

.downloadBtn:hover {
    background-color: unset;
    border: 2px solid hsl(347, 62%, 75%);
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    color: black;
    cursor: pointer;
  }

  .downloadBtn a:hover {
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    color: hsl(347, 62%, 75%);
    cursor: pointer;
  }


@media screen and (max-width: 768px) {
    .downloadBtn {
    margin-top: 0px;
    margin-left: 0px;
    width: 75px;
    border-radius: 10px;
    };
}