.containerImg{
    width: 100%;
    height: 300px;
    background-image: url('../../assets/images/abstract.jpg');
    background-size: 100%;
    background-position-y: 70%;  
    background-position-x: center;
    background-repeat: no-repeat; 
}