.gallery-item {
    margin: 10px;
}

.gallery-item img{
    border-radius: 1%;
    padding-top: 50px;
    transform: scale(1);
    transition: ease-in-out 0.4s;
    -webkit-animation: ease-in-out 0.4s;
    -moz-animation: ease-in-out 0.4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
    -webkit-animation: 0.4s ease-in-out;
    -moz-animation: ease-in-out 0.4s;

    

}

@media screen and (max-width: 768px) {
        .gallery-item img:hover {
        transform: none;
        };
}